h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333; /*dark gray*/
  }

  p {
    font-family: 'Arial';
    font-size: 18px;
  }

  img {
    max-height: 150px;
    border-radius: 20px;
  }

  .centered {
    text-align: center;
  }

  .about-section {
    background-color: rgba(97, 97, 97, 0.329);
  }